.Textarea {
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    appearance: none;
    border-width: 0;
    outline: none;
    cursor: text;
    font-family: inherit;
    text-overflow: ellipsis;
    font-size: var(--font-size-3);
    letter-spacing: normal;
    resize: vertical;
    color: var(--input-color);
    border-radius: var(--radius-3);
    background: var(--input-background);
    @include input-box-shadow;

    // Sizes
    &.Textarea-size-1 {
        min-width: calc(var(--space-9) * 3);
        padding: var(--space-1);
        border-radius: var(--radius-3);
        font-size: var(--font-size-1);
        letter-spacing: var(--letter-spacing-1);
    }
    &.Textarea-size-2 {
        min-width: calc(var(--space-9) * 3);
        padding: var(--space-2);
        border-radius: var(--radius-3);
        font-size: var(--font-size-2);
        letter-spacing: var(--letter-spacing-2);
    }
    &.Textarea-size-3 {
        min-width: calc(var(--space-9) * 3);
        padding: var(--space-3);
        border-radius: var(--radius-3);
        font-size: var(--font-size-3);
        letter-spacing: var(--letter-spacing-3);
    }

    // fullWidth
    &.Textarea-full-width {
        width: 100%;
    }

    // States
    &:hover {
        @include input-box-shadow-hover;
    }

    &:active,
    &:focus,
    &:focus-visible {
        @include input-box-shadow-focus;
    }

    &:disabled {
        @include disabled;
    }
}
